# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.env
.venv/
env/
venv/
ENV/

# Node/Vite
node_modules/
dist/
dist-ssr/
*.local

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS
Thumbs.db
db.db
.DS_Store
